---
import { getCollection } from 'astro:content';
import ArticleCard from '../../components/ArticleCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortPosts } from '../../lib/blog';

const posts = sortPosts(await getCollection('blog'));
---

<BaseLayout title="Blog" description="All blog posts" canonicalPath="/blog.html">
  <section class="hero">
    <h1 class="page-title">Blog</h1>
  </section>

  <section class="grid grid--cards">
    {posts.map((post) => <ArticleCard post={post} />)}
  </section>
</BaseLayout>
